[Unit]
Description=fcgiwrap FastCGI server socket

[Socket]
ListenStream={{ cgit_fcgi_socket }}
SocketMode=0660
SocketUser={{ cgit_fcgi_user }}
SocketGroup={{ cgit_fcgi_group }}

[Install]
WantedBy=sockets.target
