[Unit]
Description=Schedule Immich Backup
Documentation=man:systemd.timer(5)
Requires=immich-backup.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
