[Unit]
Description=Schedule Server Backup to Backblaze B2
Requires=server-backup.service

[Timer]
OnCalendar={% if backup_schedule == "daily" %}{{ backup_daily_schedule }}{% elif backup_schedule == "weekly" %}{{ backup_weekly_schedule }}{% elif backup_schedule == "monthly" %}{{ backup_monthly_schedule }}{% else %}{{ backup_schedule }}{% endif %}

Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
